.pagination-container {
    margin: 1rem 0;
    display: flex;
    justify-content: center; /* updated from space-between to center */
    align-items: center;
}

.pagination-button {
    padding: 0.25rem 0.75rem;
    margin: 0.25rem;
    text-align: center;
    background-color: #C06C84;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    width: 90px;
}

.pagination-button:hover {
    background: #ad5971;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.page-number {
    margin: 0 1rem; /* added space around the page number */
    font-size: 1.2rem; /* increase size if you want */
    
}