.mb-3 {
    margin-bottom: 15px;
  }
  
  .form-input {
    margin-left: 5px;
  }
  
  .update-button {
    background-color: #C06C84; /* You can change it to any color you like */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .update-button:hover {
    background-color: #ad5971; /* You can change it to any color you like */
    color: white;
  }
  
  