.card-profile.card {
    background: #fffefc;
    border: none;
    border-radius: 20px;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin-top: 30px;
    padding: 28px;
}

.card-profile-image {
    margin-top: -40px;
    margin-bottom: 25px;
    margin-left: 20px;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
}

.heading {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 18px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.description {
    font-size: 1rem;
    text-align: center;
    margin-right: 30px;
    margin-left: 18px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.display {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-top: -30px;
    margin-bottom: 20px;
    font-size: 16px;
    opacity:0.5;
    margin-left:10px;
}
.name {
    margin-top: -15px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 45px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bold;
}

.card-profile-actions {
    margin-top: -10px;
}

.profile-pic {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.profile-pic:hover {
    transform: translateY(-3px);
}

.edit-icon-button {
    margin-left: 5px;
}

.profile-btn {
    border-radius: 17px;
    background-color: #E19C8D;
    font-family: 'Be Vietnam Pro', sans-serif;
    width: 100px;
    height: 38px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 8px;
}

.profile-btn:hover {
    background-color: #E6816B;
    transform: translateY(-1px);
}

.edit-username {
    font-size: 18px;
    width: 250px;
    border-radius: 12px;
    border-width: 1.5px;
    padding: 8px;
    margin-left: 65px;
}

.box {
    text-align: left;
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    margin-left: 4%;
}

.watch-container {
    text-align: left;
    display: flex;
    margin-left: 2%;
}
