@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.review-btn {
    border-radius: 17px;
    background-color: #E19C8D;
    font-family: 'Be Vietnam Pro', sans-serif;
    width: 160px;
    margin-bottom: 20px;
    height: 38px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.review-btn:hover {
    background-color: #E6816B;
    transform: translateY(-1px);
}

.rate-btn {
    width: 80px;
}

.star {
    size: 200px;
}

.rate__this {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.movie__name {
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 20px;
}
.movie__name__modal {
    align-items: center;
    margin: auto;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
}

.have__you {
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}

.watch-btn {
    border-radius: 17px;
    background-color: #E19C8D;
    font-family: 'Be Vietnam Pro', sans-serif;
    width: 220px;
    margin-bottom: 10px;
    height: 38px;
    align-items: center;
}

.watch-btn:hover {
    background-color: #E6816B;
    transform: translateY(-1px);
    align-items: center;
}

.center-btn {
    align-items: center;
}
