.forum {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.movie__review {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    width: 1000px;
    transition: width 0.2s;
  }

  .movie__review.card {
    background: transparent;
    border: none;
  }

  @media (max-width: 1200px) {
    .movie__review {
      width: 650px; 
    }
  }

  @media (max-width: 780px) {
    .movie__review {
      width: 350px; 
    }
  }

.movie__card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #F6F1EA;
    border-radius: 10px;
    max-width: 1000px; 
    width: 100%;
    padding: 20px;
}

.movie_reviewAvatar {
    margin-right: 10px;
}

.movie__review_left {
    display: flex;
    flex-direction: column;
}

.movie__reviewAuthor {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 2px;
    text-align: left;
}

.movie__reviewRating {
    font-size: 1rem;
    margin-bottom: 0.2rem;
    color: #888;
    text-align: left;
}

.movie_reviewEmail {
    font-weight: bold;
}

.movie__reviewContent {
    margin-bottom: 2px;
    text-align: left;
}

.movie__reviewDate {
    font-size: 0.9rem;
    color: #888;
    text-align: left;
}

.reply__container {
    display: flex;
    align-items: center;
  }
  
  .reply__container .MuiAvatar-root {
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 70px;
  }

  .reply-button {
    margin-bottom: 20px;
    width: 20px;
  }

  .replies-container {
    margin-top: 10px;
  }

  .profile__container {
    display: flex;
    align-items: center;
  }

  .reply {
    margin-bottom: 20px;
  }
  
  .reply__user__content {
    text-align: left;
    margin-left: 130px;
    margin-top: -20px;
  }

  .reply__user__email {
    font-weight: bold;
    text-align: left;
  }

  .movie__reviewTitle {
    text-align: left;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .reply__date {
    font-size: 13px;
    margin-top: 3px;
    font-weight: none;
    margin-left: 20px;
  }

  .reply__first {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: -20px;
  }

  .delete-container {
    margin: 0 0 0 auto;
  }

  .reply-button {
    text-align: left;
  }

  .reply-button-container {
    text-align: left;
    align-items: left;
  }

  .delete-icon-button {
    margin-top: -2px;
  }