@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.movie__list {
    padding: 0 3rem 3rem 3rem;
    background-color: #F6E0CD;
}

.list__title {
    font-size: 2.45rem;
    margin:  2.5rem;
    font-family: 'Playfair Display', serif;
}

.list__cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}