.search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 4%;
    margin-right: 4%;
  }

  .search-card {
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 15px;
    padding: 5px;
    background-color: #FFFAEE;
    font-family: 'Be Vietnam Pro', sans-serif;
  }

  .search-card:hover {
    background-color: #ececec;
  }

  .search-card.card {
    background: none;
  }
