.custom-button {
    background: #C06C84;
    color: white;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.custom-button:hover,
.custom-button:focus {
    background: #ad5971;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-button:hover {
    background: #ad5971;
    transform: translateY(-1px);
}

.custom-button:active {
    background: #C06C84; 
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
}