@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.movie {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    flex-wrap: wrap;
}

.movie__intro {
    width: 90%;
}

.movie__backdrop {
    width: 100%;
    height: 500px;
    object-fit:cover;
    object-position: 0 35%;
}

.movie__detail {
    align-items: center;
    width: 80%;
    display: flex;
    position: relative;
    margin-top: 10px;
    overflow: auto;
    padding-bottom: 70px;
}

.movie__detailLeft {
    margin-right: 30px;
}

.movie__poster {
    width:300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}

.movie__detailRight {
    color: black;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content:space-between ;
}

.movie__detailRightTop > div{
    text-shadow: 0px 0px 0px #fff;
    margin-bottom: .5rem;
}

.movie__name {
    font-weight: 600;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
}

.movie__tagline {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.2rem;
}

.movie__rating, .movie__runtime, .movie__genres, .movie__releaseDate{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 0.9rem;  
}

.movie__voteCount {
    margin-left: 1rem;
}

.movie__genres {
    margin: 1.25rem 0;
}

.movie__genre {
    padding: .5rem;
    border: 2px solid #EDB289;
    border-radius: 20px;
    margin-right: 1rem;
    background-color: #F1C6A8;
}


.movie__detailRightBottom {
    margin: 2rem 0;
    flex: 0.8;
}

.synopsisText {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    font-weight: 800;
    display: flex;
    position: relative;
    align-items: center;
    font-family: 'Playfair Display', serif;
}

.synopsisContent {
    font-family: 'Be Vietnam Pro', sans-serif;
}

.synopsisText > div:last-of-type {
    margin-left: auto;
}

.movie__links {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top:0px;
}

.movie__heading1 {
    font-size: 1.8rem;
    font-weight: 800;
    font-family: 'Playfair Display', serif;
    margin-top: 22px;
    margin-bottom: 10px;
}

.movie__heading2 {
    font-size: 1.8rem;
    font-weight: 800;
    font-family: 'Playfair Display', serif;
    margin-top: 22px;
    margin-bottom: 18px;
    background-color: #EBCBC1;
    width: 85%;
    border-radius: 15px;
}

.movie__Button {
    display: flex;
    align-items: center;
    padding: 0.8rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    color: white;
    font-weight: bold;
}

.movie__homeButton {
    background-color:#F1C6A8;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: black;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 130px;
    height: 35px;
    margin-top: 28px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.movie__homeButton:hover {
    background-color:#EDB289;
    transform: translateY(-1px);
}

.newTab {
    margin-left: 1.4rem;
}

.movie__production {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 4rem;
}


.movie__productionComapany {
    width: 200px;
    margin: 2rem;
}

.productionCompanyImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qn {
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
}

.buttonText {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    white-space: nowrap;
  }

  .movie__left {
    position: absolute;
    left: 17%;
    top: 950px;
  }