.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  background-color: #F6E0CD;
}

.center-content {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #F6E0CD;
  }

.form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
}

.form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
}

label {
    text-align: left;
    padding: 0.25rem 0;
}

input {
    margin: 0.3rem 0;
}

button {
    border: none;
    background-color: white;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
}

.link-btn {
    background: none;
    color: black;
    text-decoration: underline;
}

.content-container {
    width: 100%;
    top: 0px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}